:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #5d8392;
  --slidev-code-font-size: 10px;
  --slidev-code-line-height: 10px;
}

.left-image {
  vertical-align: middle;
  width: 450px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 32px;
  top: auto;
  bottom: auto;
  transform: translateY(50%);
  border-image: linear-gradient(#fdcb0b, #fdcb0b) 30;
  border-width: 4px;
  border-style: solid;
}

.logo-topright {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 100px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.font-small {
  font-size: 14px;
}

.font-large {
  font-size: 18px;
}

.content-image-right {
  vertical-align: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 50%;

  padding: 32px;
}


ul,li {
  list-style-type: disc;
}


h2 {
  margin-top: 32px;
}

.slidev-layout.cover {
  text-align: end;

}

.logo {
  width: 300px;
  float: left;
}

.last-slide {
  h1 {
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 32px;
    font-weight: bolder;
    text-align: center;
    width:100%;
    color: #fdcb0b;
    font-size: 42px;
    transform: translateY(-50%);
  }
}

.bottompanel {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 32px;
  height: 32px;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 16px;
  background-color: #fdcb0b;
  background-color: #fdcb0b;
  font-weight: bold;
}

.slidev-layout.section {
  background-color: black;
  text-align: end;
  align-items: center;
  h1 {
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 0%;
    padding: 32px;
    font-weight: bolder;
    text-align: end;
    color: #fdcb0b;
    font-size: 42px;
    transform: translateY(-50%);

  }
  img {
    vertical-align: middle;
    width: 450px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 32px;
    top: auto;
    bottom: auto;
    transform: translateY(50%);
    border-image: linear-gradient(#fdcb0b, #fdcb0b) 30;
    border-width: 4px;
    border-style: solid;
  }
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}
